body,div,h1,ul,ol,li,dl,dt,dd,img,fore,footer{
	margin:0;padding:0;border:0;
}

body {
    overflow-x: hidden;
    overflow-y:hidden;
}

html {
    overflow-x: hidden;
    overflow-y:hidden;
}

::-moz-selection {
    color: #dedede; 
    background: #5c5c5c;
}

::selection {
    color: #dedede; 
    background: #5c5c5c;
}

.film{
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
}

.film .filmslay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 45%; 
    -webkit-transform: translate(0%, -45%); 
}

.film .filmb{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%; 
    -webkit-transform: translate(0%, -50%);
    font-family: "Catamaran";
    font-size: 60px;
    font-weight: 100;
    color: white;
    text-align: center;
    opacity: 0.75;
    cursor: pointer;
}

.photo{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.photo .photoslay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 45%; 
    -webkit-transform: translate(0%, -45%); 
}

.photo .photob{
    position: absolute;
    width: 50%;
    height: 250px;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(0%, -50%);
    font-family: 'Catamaran';
    font-size: 60px;
    font-weight: 100;
    color: white;
    text-align: center;
    opacity: 0.75;
    cursor: pointer;
}

.about{
    position: fixed;
    z-index: 5;
    left: 37.5%;
    top: 10%;
    width: 25%;
    height: 50px;
    font-family: 'Catamaran';
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-align: center;
	background-color:transparent;
	cursor:pointer;
	color:rgb(0, 0, 0);
	text-decoration:none;
    border: 0px;
    opacity: 0.5;
}

.content{
    position: fixed;
    width: 0%;
    height: 100%;
    left: 50%;
    z-index: 3;
    overflow: hidden;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);;
}

.content2{
    position: fixed;
    text-align: center;
    width: 30%;
    height: 50%;
    top: 30%;
    left: 35%;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    z-index: 2;
    overflow: hidden;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    z-index: 7;
}

a:visited{
    color: white;
}

a:link{
    color: white;
}

a:hover{
    color: white;
}

a:active{
    color: white;
}

.photomore{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -3px;
}

.mikesb{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -3px;
    background: url(img/mike.jpg) repeat;
}

.photomore2{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 350px;
    line-height: 2.7;
    font-weight: 200;
    letter-spacing: -10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    background: rgba(144, 144, 144, 0.37);
    cursor: pointer;
    text-decoration:none;
    overflow: hidden;
}

.filmhome{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: 7;
}

.filmback{
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 9;
    left: 80%;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.6) 0%,rgba(0,0,0,0) 100%);
    opacity: 0;
}

.photoback{
    position: fixed;
    width: 20%;
    height: 100%;
    z-index: 9;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
    opacity: 0;
}

#display1{
    position: fixed;
    width: 100%;
    height: 20%;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%);
    opacity: 0;
    z-index: 8;
    color: transparent;
}

#display{
    position: fixed;
    top: 80%;
    width: 100%;
    height: 20%;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    opacity: 0;
    z-index: 8;
    color: transparent;
}

#display3{
    position: fixed;
    width: 100%;
    height: 15%;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%);
    opacity: 0;
    z-index: 8;
    color: transparent;
}

#display2{
    position: fixed;
    top: 85%;
    width: 100%;
    height: 15%;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    opacity: 0;
    z-index: 8;
    color: transparent;
}

.section {
    height: auto;
    width: 100%;
    margin-bottom:-3px;
}

.ha{
    padding-top: 17%;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 210px;
    font-weight: 200;
    letter-spacing: -10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    background: rgba(144, 144, 144, 0.57);
    cursor: pointer;
    text-decoration:none;
    overflow: hidden;
}

.giftext{
    padding-top: 22%;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: -5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    background: rgba(144, 144, 144, 0.37);
    transition: background-color 1s ease;
    cursor: pointer;
    text-decoration:none;
    overflow: hidden;
    margin-bottom: -22%;
    text-shadow: 1px 3px 0 rgba(0,0,0,.2);
}

.giftext:hover{
    background: rgba(255, 255, 255, 0);
}

.filmhome{
    overflow-x: hidden;
    overflow-y: scroll;
}

.gif3 .filmslay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0%); 
}

.gif3{
    width: 100%;
    height: 100%;
    overflow: hidden;
}