body,div,h1,ul,ol,li,dl,dt,dd,img,fore,footer{
	margin:0;padding:0;border:0;
}

.row-of-icons {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
}

.photo{
    position: fixed;
    width: 100%;
    height: 50%;
    background: url(https://farm6.staticflickr.com/5763/20847667236_6f5277b27d_k.jpg) no-repeat center center fixed;
	background-size: cover;
    top: 25%; 
    -webkit-transform: translate(0%, -50%); 
}

.film{
    position: fixed;
    width: 100%;
    height: 50%;
    top: 37.5%;
    background: url(https://farm1.staticflickr.com/583/22334391131_a6bf1eb75a_k.jpg) no-repeat center center fixed;
	background-size: cover;
    -webkit-transform: translate(0%, 25%); 
}

.photot{
    position: absolute;
    width: 100%;
    height: 80%;
    font-family: 'Work Sans', sans-serif;
    font-size: 300px;
    padding-top: 17%;
    font-weight: 300;
    letter-spacing: -10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    cursor: pointer;
    text-decoration:none;
    overflow: hidden;
}

.filmt{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 300px;
    padding-top: 17%;
    font-weight: 300;
    letter-spacing: -10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    cursor: pointer;
    text-decoration:none;
    overflow: hidden;
}